@charset 'utf-8';
/* CSS reset */
html{color:#000;background:#FFF;font-family:'Microsoft YaHei';font-size: 20px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,input,button,textarea,p,th,td,strong{padding:0;margin:0;font-family:'Microsoft YaHei';}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
a{text-decoration:none; color:#000; outline:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0.0)}/*此处待添加默认链接颜色*/
a:hover{color: #6d225b;}
var,em,strong{font-style:normal;}
em,strong,th,var{font-style:inherit;font-weight:inherit;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4{font-size:100%;font-weight:normal;}
input,button,textarea,select,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
/* CSS COMMOND */
.html {
	font-size: 24px;
}
.wrap {
	position: relative;
	padding-top: 3.88rem;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 2rem;
	padding: 1rem 4% 0.88rem 4%;
	background: #eee;
	z-index: 9999;
}
.back, .title, .add {
	float: left;
}
.back {
	width: 2.04rem;
	height: 2.04rem;
	background: url("../images/header.png");
	background-size: 2.04rem;
}
.title {
	width: 77%;
	height: 2.04rem;
	color: #585858;
	text-align: center;
	line-height: 2.04rem;
	font-size: 1.42rem;
}
.select {
	float: left;
	width: 67%;
	height: 2.04rem;
	line-height: 2.04rem;
	background: #fff url("../images/header.png") no-repeat;
	background-size: 3.2rem;
	background-position: 3.8rem -23.6rem;
	margin: 0 5%;
	border: 1px solid #ccc;
	border-radius: 0.3rem;
}
.select input {
	width: 100%;
	height: 100%;
	/*padding-left: 33%;*/
	border: 0;
	background: transparent;
	text-align: center;
	outline: none;
	border-radius: 0.3rem;
}
.logo {
	float: left;
	width: 13%;
	height: 1.5rem;
	margin-top: 0.3rem;
}
.logo img {
	width: 100%;
	height: 1.5rem;
}
.select input {
	border: none;
}
.add {
	width: 2.04rem;
	height: 2.04rem;
	background: url("../images/header.png");
	background-size: 2.04rem;
	background-position-y: 21rem;
}
.con {
	height: 100%;
}
.back-index {
	float: left;
	width: 2.04rem;
	height: 2.04rem;
	background: url("../images/header.png") no-repeat;
	background-size: 1.8rem;
	background-position: 0rem -3rem;
}
.buy {
	float: left;
	width: 2.04rem;
	height: 2.04rem;
	background: url("../images/header.png");
	background-size: 2.04rem;
	background-position-y: 8.4rem;
}
.footer {
	height: 5.33rem;
	padding-top: 3.21rem;
	background: #eee;
}
.other {
	width: 75%;
	height: 2.67rem;
	margin: 0 auto;
}
.other p {
	width: 100%;
	height: 1.54rem;
	margin-bottom: 0.42rem;
	text-align: center;
}
.other p a {
	color: #585858;
}
.other p:nth-child(1) a {
	float: left;
	width: 24%;
	height: 1.54rem;
	box-shadow: 2px 0 #ccc;
	line-height: 1.54rem;
}
.other p:nth-child(1) a:nth-child(4) {
	width: 18%;
	height: 1.54rem;
	color: #585858;
	background: url("../images/top_03.png") 3.1rem 50% no-repeat;
	background-size: 13% 0.29rem;
	line-height: 1.54rem;
	box-shadow: 0px 0 #ccc;
}
.main-title {
	height: 3.75rem;
	padding-left: 3%;
	-webkit-box-shadow: inset 0 -1px #e4e4e4;
	-moz-box-shadow: inset 0 -1px #e4e4e4;
	box-shadow: inset 0 -1px #e4e4e4;
}
.main-title h1 {
	float: left;
	width: 86%;
	height: 100%;
	line-height: 3.75rem;
	font-size: 1.17rem; 
	-webkit-box-shadow: 1px 0px 0px 0px #e4e4e4;
	box-shadow: 1px 0px 0px 0px #e4e4e4;
}
.main-title .collect {
	float: right;
	width: 14%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 0.67rem;
	color: #909090;
}
.collect span {
	display: block;
	width: 100%;
	height: 2.13rem;
	background: url("../images/easebac3_05.png") no-repeat;
	background-size: 2.13rem;
	background-position:center -33.33rem;
}
/*订单*/
.order-con {
	padding-bottom: 0.83rem;
	background: #eee;
}
.order-con dl {
	height: 6.76rem;
	margin: 0 auto;
	padding: 0.83rem 3%;
	-webkit-box-shadow: inset 0 -1px #e0e0e0;
	-moz-box-shadow: inset 0 -1px #e0e0e0;
	box-shadow: inset 0 -1px #e0e0e0;
	background: #fff;
}
.order-con dt {
	float: left;
	width: 27%;
	height: 6.71rem;
	margin-right: 1.08rem;
}
.order-con dt img {
	width: 100%;
	height: 100%;
}
.order-con dd {
	float: left;
	width: 68%;
	height: 6.71rem;
}
.order-con p {
	line-height: 1.75rem;
}
.order-con p strong {
	color: #c50000;
}
.order-con p em {
	margin-right: 0.54rem;
}
.order-con p:nth-child(2) span {
	margin-right: 0.3rem;
}
.order-go {
	height: 1.92rem;
	padding: 0.83rem 3% 0.67rem 3%;
	background: #fff;
	-webkit-box-shadow: inset 0 -1px #e0e0e0;
	-moz-box-shadow: inset 0 -1px #e0e0e0;
	box-shadow: inset 0 -1px #e0e0e0;
}
.order-go div {
	float: left;
	width: 29%;
	height: 1.88rem;
	background: #f25000;
}
.order-go div:nth-child(2) {
	float: right;
	background: #3eb9f2;
}
.order-go button {
	width: 100%;
	height: 100%;
	border: none;
	color: #fff;
	background: none;
	cursor: pointer;
}
.order-record .order-infor {
	margin-top: 0.92rem;
	-webkit-box-shadow: inset 0 -1px #e0e0e0,
					inset 0 1px #e0e0e0;
	-moz-box-shadow: inset 0 -1px #e0e0e0,
					inset 0 1px #e0e0e0;
	box-shadow: inset 0 -1px #e0e0e0,
					inset 0 1px #e0e0e0;
}
/*** 便利商家类目 ***/
.category {
	max-width: 640px;
	margin-bottom: 5.75rem;
}
.category .cate-con {
	width: 94%;
	height: 13.34rem;
	margin: 1.08rem auto 0;
}
.cate-con h2 {
	height: 2.17rem;
	line-height: 2.17rem;
	font-size: 1.25rem;
	color: #ff6600;
}
.cate-con ul {
	width: 100%;
	height: 10.42rem;
	padding-top: 0.75rem;
	box-shadow: 0px 0px 0px 1px #e0e0e0;
}
.cate-con ul li {
	float: left;
	width: 23.5%;
	margin-right: 1.5%;
}
.cate-con ul li a {
	display: block;
	height: 4.79rem;
	margin-bottom: 0.42rem;
}
.cate-con .icon-circle {
	display: block;
	width: 100%;
	height: 3.33rem;
	background: url("../images/easebac1_01.png") center -13.9rem no-repeat;
	background-size: 3.3rem;
}
.cate-con li:nth-child(2) .icon-circle {
	background: url("../images/easebac2_03.png") center 0 no-repeat;
	background-size: 3.32rem;
}
.cate-con li:nth-child(3) .icon-circle {
	background: url("../images/easebac2_03.png") center -9.5959rem no-repeat;
	background-size: 3.3rem;
}
.cate-con li:nth-child(4) .icon-circle {
	background: url("../images/easebac1_01.png") center -18.65rem no-repeat;
	background-size: 3.3rem;
}
.cate-con li:nth-child(5) .icon-circle {
	background: url("../images/easebac1_01.png") center -23.728rem no-repeat;
	background-size: 3.3rem;
}
.cate-con li:nth-child(6) .icon-circle {
	background: url("../images/easebac1_01.png") center -33.24rem no-repeat;
	background-size: 3.3rem;
}
.cate-con li:nth-child(7) .icon-circle {
	background: url("../images/easebac2_03.png") center -9.58rem no-repeat;
	background-size: 3.3rem;
}
.cate-con li:nth-child(8) .icon-circle {
	background: url("../images/easebac3_05.png") center -9.58rem no-repeat;
	background-size: 3.3rem;
}
.cate-con .icon-desc {
	display: block;
	width: 100%;
	height: 1.46rem;
	text-align: center;
	line-height: 1.46rem;
	font-size: 1rem;
}
/*** 便利商家详情页 ****/
.detail {
	max-width: 640px;
}
.det-intro {
	width: 100%;
}
.det-desi {
	height: 3.75rem;
	padding-left: 3%;
	-webkit-box-shadow: 0px 1px 0px 0px #e4e4e4;
	box-shadow: 0px 1px 0px 0px #e4e4e4;
}
.det-desi h1 {
	float: left;
	width: 86%;
	height: 100%;
	line-height: 3.75rem;
	font-size: 1.17rem; 
	-webkit-box-shadow: 1px 0px 0px 0px #e4e4e4;
	box-shadow: 1px 0px 0px 0px #e4e4e4;
}
.det-desi .collect {
	float: right;
	width: 14%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 0.67rem;
	color: #909090;
}
.collect span {
	display: block;
	width: 100%;
	height: 2.13rem;
	background: url("../images/easebac3_05.png") no-repeat;
	background-size: 3.13rem;
	background-position:center -49.2rem;
}
.det-con {
	padding: 0.83rem 0 0 0;
}
.det-con .swiper-container {
	width: 70%;
	height: 18.75rem;
	margin: 0 auto;
	/*background-color: red;*/
}
.det-con .swiper-container .swiper-pagination-bullet-active {
	background-color: #f25000;
}
.swiper-red {
    background-color: red;
}
.swiper-yellow {
    background-color: yellow;
}
.swiper-blue {
    background-color: blue;
}
.swiper-wrapper img {
    width: 100%;
    height: 18.75rem;
}
.det-mess {
	margin-top: 2.25rem;
	margin-bottom: 3.67rem;
	padding: 0px 3%;
}
.det-price {
	height: 3.75rem;
}
.det-price span {
	float: left;
	display: block;
	width: 29%;
	height: 100%;
	text-align: center;
	font-size: 1rem;
}
.det-price span strong {
	font-size: 1.46rem;
	color: #f25000;
}
.det-bt,
.det-color {
	height: 3.33rem;
}
.det-bt span,
.det-color span {
	float: left;
	display: block;
	width: 13%;
	height: 1.88rem;
	text-align: center;
	line-height: 1.88rem;
	font-size: 1rem;
}
.det-bt strong,
.det-color strong {
	float: left;
	display: block;
	width: 13%;
	height: 1.88rem;
	margin-right: 1%;
	text-align: center;
	line-height: 1.88rem;
	border: 1px solid #c5c5c5;
}
.det-bt .detshow,
.det-color .detshow {
	background: url("../images/detshow.png") no-repeat;
	background-size: 0.92rem;
	background-position: right bottom;
	border: 1px solid #f25000;
}
.det-num {
	height: 3.75rem;
}
.det-title {
	float: left;
	width: 13%;
	height: 1.88rem;
	text-align: center;
	line-height: 1.88rem;
	font-size: 1rem;
}
.det-select {
	float: left;
	width: 28%;
	height: 2.08rem;
}
.det-select li {
	float: left;
	width: 28%;
	height: 2.08rem;
	text-align: center;
	line-height: 2.08rem;
	-webkit-box-shadow: 0px 0px 0px 1px #c5c5c5;
	box-shadow: 0px 0px 0px 1px #c5c5c5;
}
.det-select li:nth-child(1) {
	width: 28%;
	height: 2.08rem;
	background: url("../images/header.png") no-repeat;
	background-position: center -5.8rem;
	background-size: 2.08rem;
}
.det-select li:nth-child(2) {
	width: 44%;
	height: 2.08rem;
}
.det-select li:nth-child(3) {
	width: 28%;
	height: 2.08rem;
	background: url("../images/detshow1.png") no-repeat;
	background-position: center center;
	background-size: 2.08rem;
}
.det-ft {
	height: 2.5rem;
	padding: 0px 2%;
}
.det-ft a {
	float: left;
	width: 44%;
	height: 2.5rem;
	margin-right: 5%;
	text-align: center;
	line-height: 2.5rem;
	background-color: #f25000;
}
.det-ft a:nth-child(2) {
	float: right;
	margin-right: 0px;
	background-color: #3eb9f2;
}
.det-ft a span {
	font-size: 1.17rem;
	color: #fff;
}
.det-product {
	width: 100%;
	/*height: 2.67em;*/
}
.det-product span {
	display: block;
	width: 65%;
	height: 2.67rem;
	padding-left: 35%;
	/*text-align: center;*/
	line-height: 2.67rem;
	font-size: 1rem;
	background: #eeeeee url("../images/apply-list-2.png") no-repeat;
	background-size: 1.67rem;
	background-position: 17rem center;
}
.detimg {
	display: none;
	width: 100%;
	height: 100%;
}
.detimg img {
	width: 100%;
	height: 100%;
}
.det-guelike {
	/*padding: 0px 3%;*/
	margin-bottom: 4.79rem;
}
.det-like {
	height: 3.33rem;
	padding: 0px 3%;

}
.det-like h2 {
	float: left;
	height: 3rem;
	padding-left: 3%;
	line-height: 3.33rem;
	font-size: 1rem;
	background: url("../images/header.png") no-repeat;
	background-size: 3.35rem;
	background-position: -3.08rem -21.8rem;
}
.det-like a {
	float: right;
	display: block;
	height: 100%;
	padding-right: 4%;
	line-height: 3.33rem;
	font-size: 1rem;
	background: url("../images/header.png") no-repeat;
	background-size: 4rem;
	background-position: 2.4rem -19.40rem;
}
.det-baby {
	width: 96.67%;
	height: 100%;
	padding-left: 3.33%;
}
.det-baby li {
	float: left;
	width: 30%;
	height: 100%;
	margin-bottom: 2.08rem;
	margin-right: 3.33%;
}
.det-baby li a {
	display: block;
	width: 100%;
}
.det-baby li a img {
	display: block;
	width: 100%;
	height: 7.75rem;
}
.det-baby li a p {
	overflow: hidden;
	width: 100%;
	height: 2.25rem;
	padding-top: 0.67rem;
	line-height: 1.1rem;
	font-size: 0.75rem;
	color: #585858;
}
.det-baby li a span {
	display: block;
	height: 1rem;
	font-size: 0.67rem;
	color: #f25000;
}
/*** 便利商家分类 ****/
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2.92rem;
    margin-top: 3.88rem;
    border-bottom: 1px solid #bbb;
    background: #eaeaea;
    z-index: 2;
}
.menu_nav {
	padding: 0.63rem 0px;
    line-height: 1.66rem;
    color: #d3d3d3;
}
.menu_nav .menu_this {
	background: url("../images/icon2.png") no-repeat;
	background-size: 1.4rem;
	background-position: 6.5rem center;
}
.menu_nav span {
    float: left;
    display: block;
    width: 33.33%;
    text-align: center;
    color: #333;
    -webkit-box-shadow: 2px 0px #e0e0e0;
    box-shadow: 2px 0px #e0e0e0;
    background: url("../images/icon1.png") no-repeat;
	background-size: 1.4rem;
	background-position: 6.5rem center;
}
/*.menu_nav span:nth-child(1) {
	background: url("../images/icon2.png") no-repeat;
	background-size: 1.4rem;
	background-position: 6.5rem center;
}
.menu_nav span:nth-child(2) {
	background: url("../images/icon2.png") no-repeat;
	background-size: 1.4rem;
	background-position: 6.5rem center;
}*/
.menu_nav span:nth-child(3) {
	background: url("../images/icon3.png") no-repeat;
	background-size: 1.4rem;
	background-position: 6.5rem center;
}
.menu_down_bg {
    width: 100%;
    background: #fff;
}
.menu_down {
    display: none;
    background: #fff;
}
.menu_sort {
    position: relative;
    overflow-y: scroll;
    width: 100%;
    height: 17.54rem;
    background: #f5f5f5;
}
.menu_sort h2 {
    width: 50%;
    height: 2.92rem;
    line-height: 2.92rem;
    vertical-align: middle;
    font-weight: normal;
    clear: both;
    background: #fff;
}
.menu_sort li h2:active,
.menu_sort li .sort_this {
    background: #f5f5f5;
}
.menu_sort h2 span,
.menu_sort h2 a {
    display: block;
}
.menu_sort h2 span {
    padding-left: 0.8rem;
}
.menu_open {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    overflow-y: scroll;
    width: 50%;
    height: 17.54rem;
    background: #f5f5f5;
}
.menu_open a {
    display: block;
    height: 2.92rem;
    line-height: 2.92rem;
    text-indent: 0.6rem;
}
.menu_open a:active {
    background: #ddd;
}
.menu_far {
    width: 100%;
    background: #fff;
}
.menu_far a {
    display: block;
    height: 2.92rem;
    line-height: 2.92rem;
    text-indent: 0.6rem;
}
.menu_far a:active,
.menu_far .far_this {
    background: #f5f5f5;
}
.menu_bg {
    position: fixed;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.cla-list {
	width: 100%;
	margin-top: 2.92rem;
}
.cla-list dl {
	width: 94%;
	padding: 0.92rem 3%;
	border-bottom: 1px solid #dedede;
}
.cla-list dl a {
	display: block;
}
.cla-list dl a dt {
	float: left;
	width: 21%;
	height: 5.21rem;
	padding-right: 4%;
}
.cla-list dl a dt img {
	width: 100%;
	height: 100%;
}
.cla-list dl a dd {
	float: left;
	width: 70%;
}
.cla-list dl a dd h2 {
	overflow: hidden;
	height: 2rem;
	line-height: 2rem;
	font-size: 1rem;
	color: #585858;
}
.cla-list dl a dd p {
	overflow: hidden;
	height: 1.75rem;
	font-size: 0.83rem;
	color: #7e7e7e;
}
.cla-list dl a dd span {
	float: left;
	width: 34%;
	font-size: 0.83rem;
	color: #ff6600;
}
.cla-list dl a dd span strong {
	font-size: 1.33rem;
}
/*** 便利商家首页 ***/
.easyindex {
	max-width: 640px;
	/*background: #eee;*/
}
.easyindex .swiper-pagination-bullet-active {
	background: #fd7317;
}
.easyindex .swiper-container {
    height: 11.96rem;
}
.easyindex .swiper-easy1 {
    background-color: red;
}
.easyindex .swiper-easy2 {
    background-color: yellow;
}
.easyindex .swiper-easy3 {
    background-color: blue;
}
.easyindex .swiper-wrapper img {
    width: 100%;
    height: 100%;
}
.ea-horn {
	width: 94%;
	height: 2.17rem;
	padding: 0px 3%;
	background: #eeeeee;
}
.ea-horn h1 {
	overflow: hidden;
	width: 92%;
	height: 100%;
	padding-left: 8%;
	line-height: 2.17rem;
	background: url("../images/iconbac2.png") no-repeat;
	background-size: 1.25rem;
	background-position: 0rem center;
	font-size: 0.83rem;
	color: #ff6600;
}
.ea-con {
	width: 100%;
	border-bottom: 0.42rem solid #eee;
}
.ea-con li {
	float: left;
	width: 25%;
}
.ea-con li a {
	display: block;
	height: 4.91rem;
}
.ea-con li a .ea-circle {
	display: block;
	width: 100%;
	height: 2.41rem;
	margin-top: 1.42rem;
	-webkit-box-shadow: 1px 0px #b0afaf;
	box-shadow: 1px 0px #b0afaf;
}
.ea-con li:nth-child(1) a .ea-circle {
	background: url("../images/eabac.png") no-repeat;
	background-size: 2.42rem;
	background-position-x: center;
}
.ea-con li:nth-child(2) a .ea-circle {
	background: url("../images/eabac.png") no-repeat;
	background-size: 2.42rem;
	background-position: center -3.7rem;
}
.ea-con li:nth-child(3) a .ea-circle {
	background: url("../images/eabac.png") no-repeat;
	background-size: 2.42rem;
	background-position: center -7.35rem;
}
.ea-con li:nth-child(4) a .ea-circle {
	background: url("../images/eabac.png") no-repeat;
	background-size: 2.42rem;
	background-position: center -11.52rem;
}
.ea-con li a .ea-desc {
	display: block;
	width: 100%;
	height: 1.54rem;
	margin-bottom: 2.38rem;
	text-align: center;
}
.ea-stores {
	width: 94%;
	height: 14.58rem;
	padding: 0 3%;
	border-bottom: 0.42rem solid #eee;
}
.ea-stores h2 {
	overflow: hidden;
	width: 98%;
	height: 2.79rem;
	padding-left: 2%;
	line-height: 2.79rem;
	font-size: 1rem;
	background: url("../images/header.png") -2.5rem -18.2rem no-repeat;
	background-size: 2.79rem;
}
.ea-stores ul {
	width: 100%;
	height: 11.79rem;
}
.ea-stores ul li {
	float: left;
	width: 23.5%;
	margin-right: 1.5%;
}
.ea-stores ul li a {
	display: block;
	height: 4.79rem;
	margin-bottom: 0.42rem;
}
.ea-stores ul li a .stores-circle {
	display: block;
	width: 100%;
	height: 3.33rem;
}
.ea-stores ul li:nth-child(1) .stores-circle {
	background: url("../images/easebac1_01.png") center -13.9rem no-repeat;
	background-size: 3.3rem;
}
.ea-stores ul li:nth-child(2) .stores-circle {
	background: url("../images/easebac2_03.png") center 0rem no-repeat;
	background-size: 3.32rem;
}
.ea-stores ul li:nth-child(3) .stores-circle {
	background: url("../images/easebac2_03.png") center -9.5959rem no-repeat;
	background-size: 3.3rem;
}
.ea-stores ul li:nth-child(4) .stores-circle {
	background: url("../images/easebac1_01.png") center -18.65rem no-repeat;
	background-size: 3.3rem;
}
.ea-stores ul li:nth-child(5) .stores-circle {
	background: url("../images/easebac1_01.png") center -23.728rem no-repeat;
	background-size: 3.3rem;
}
.ea-stores ul li:nth-child(6) .stores-circle {
	background: url("../images/easebac1_01.png") center -33.24rem no-repeat;
	background-size: 3.3rem;
}
.ea-stores ul li:nth-child(7) .stores-circle {
	background: url("../images/easebac2_03.png") center -9.58rem no-repeat;
	background-size: 3.3rem;
}
.ea-stores ul li:nth-child(8) .stores-circle {
	background: url("../images/easebac3_05.png") center -9.58rem no-repeat;
	background-size: 3.3rem;
}
.ea-stores ul li a .stores-desc {
	display: block;
	width: 100%;
	height: 1.46rem;
	text-align: center;
	line-height: 1.46rem;
	font-size: 0.83rem;
}
.ea-love {
	width: 94%;
	height: 15.63rem;
	padding: 0 3%;
	border-bottom: 0.42rem solid #eee;
}
.ea-love h2 {
	overflow: hidden;
	width: 98%;
	height: 2.79rem;
	padding-left: 2%;
	line-height: 2.79rem;
	font-size: 1rem;
	background: url("../images/header.png") -2.5rem -18.2rem no-repeat;
	background-size: 2.79rem;
}
.ea-love h2 a {
	display: block;
	float: right;
	width: 10%;
	height: 100%;
	padding-right: 2%;
	background: url("../images/header.png") 0.5rem 10.7rem;
	background-size: 3.5rem;
}
.ea-love .swiper-container {
	height: 12.84rem;
}
/*.ea-love .swiper-love1 {
	background: red;
}
.ea-love .swiper-love1 {
	background: yellow;
}
.ea-love .swiper-love1 {
	background: blue;
}*/
.ea-love .swiper-wrapper img {
	width: 100%;
	height: 10.42rem;
	margin-bottom: 0.42rem;
}
.ea-package {
	width: 94%;
	padding: 0 3%;
	padding-bottom: 0.83rem;
	border-bottom: 0.42rem solid #eee;
}
.ea-package h2 {
	overflow: hidden;
	width: 98%;
	height: 2.79rem;
	padding-left: 2%;
	line-height: 2.79rem;
	font-size: 1rem;
	background: url("../images/header.png") -2.5rem -18.2rem no-repeat;
	background-size: 2.79rem;
}
.ea-package h2 a {
	display: block;
	float: right;
	width: 10%;
	height: 100%;
	padding-right: 2%;
	background: url("../images/header.png") 0.5rem 10.7rem;
	background-size: 3.5rem;
}
.ea-package ul {
	width: 100%;
}
.ea-package ul li {
	width: 100%;
	margin-bottom: 0.83rem;
}
.ea-package ul li:nth-child(2) {
	margin-bottom: 0;
}
.ea-package ul li a {
	display: block;
	width: 100%;
	height: 12.5rem;
	background: #eeeeee;
}
.ea-package ul li img {
	width: 100%;
	height: 10.42rem;
}
.ea-package ul li p {
	overflow: hidden;
	width: 100%;
	height: 2.08rem;
	line-height: 2.08rem;
	text-indent: 0.42rem;
	font-size: 0.83rem;
	color: #585858;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ea-ware {
	width: 97%;
	/*padding: 0px 3%;*/
	padding-left: 3%;
	border-bottom: 0.42rem solid #eee;
}
.ea-ware h2 {
	overflow: hidden;
	width: 96%;
	height: 2.79rem;
	padding-left: 2%;
	padding-right: 2%;
	line-height: 2.79rem;
	font-size: 1rem;
	background: url("../images/header.png") -2.5rem -18.2rem no-repeat;
	background-size: 2.79rem;
}
.ea-ware h2 a {
	display: block;
	float: right;
	width: 10%;
	height: 100%;
	padding-right: 2%;
	background: url("../images/header.png") 0.5rem 10.7rem;
	background-size: 3.5rem;
}
.ea-ware ul {
	width: 100%;
	/*padding-left: 3%;*/
}
.ea-ware ul li {
	float: left;
	overflow: hidden;
	width: 31%;
	margin-right: 2%;
	margin-bottom: 0.53rem;
	height: 10.21rem;
}
.ea-ware ul li:nth-child(1) {
	width: 64%;
}
.ea-ware ul li a {
	display: block;
}
.ea-ware ul li a img {
	width: 100%;
	height: 10.21rem;
}
.ea-brand {
	width: 97%;
	padding-left: 3%;
	margin-bottom: 0.42rem;
}
.ea-brand h2 {
	overflow: hidden;
	width: 96%;
	height: 2.79rem;
	padding-left: 2%;
	padding-right: 2%;
	line-height: 2.79rem;
	font-size: 1rem;
	background: url("../images/header.png") -2.5rem -18.2rem no-repeat;
	background-size: 2.79rem;
}
.ea-brand h2 a {
	display: block;
	float: right;
	width: 10%;
	height: 100%;
	padding-right: 2%;
	background: url("../images/header.png") 0.5rem 10.7rem;
	background-size: 3.5rem;
}
.ea-brand ul {
	width: 100%;
}
.ea-brand ul li {
	position: relative;
	float: left;
	width: 31%;
	margin-right: 2%;
	margin-bottom: 0.53rem;
	height: 10.21rem;
}
.ea-brand ul li img {
	width: 100%;
	height: 10.21rem;
}
.ea-brand ul li p {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1.25rem;
	text-align: center;
	line-height: 1.25rem;
	background: rgba(92, 92, 92, 0.6);
	font-size: 0.75rem;
	color: #fff;
}
/*** 退货进度 ***/
.re-progress {
	max-width: 640px;
}
.re-progress ul {
	width: 100%;
/*	padding: 0 3%;*/
	background: #eeeeee;
}
.re-progress ul li {
	width: 94%;
	height: 10rem;
	padding: 0 3%;
	margin-bottom: 0.83rem;
	background: #fff;
	box-shadow: 0px 1px 0px 0px #e0e0e0;
}
.re-code {
	width: 100%;
	height: 2.83rem;
	border-bottom: 1px solid #e0e0e0;
}
.re-code span {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	line-height: 2.83rem;
	font-size: 1rem;
	color: #545454;
}
.code-con {
	width: 100%;
	height: 5.51rem;
	padding: 0.83rem 0; 
}
.code-con dt {
	float: left;
	width: 20%;
	height: 100%;
	padding-right: 5%;
}
.code-con dt img {
	width: 100%;
	height: 100%;
}
.code-con dd {
	float: left;
	width: 75%;
	height: 100%;
}
.code-con dd h2 {
	width: 100%;
	height: 1.88rem;
	line-height: 1.88rem;
	color: #585858; 
}
.code-con dd p {
	width: 100%;
	height: 1.79rem;
}
.code-con dd p span {
	float: left;
	display: block;
	width: 32%;
	height: 100%;
	font-size: 0.75rem;
	color: #909090;
}
.code-con dd p span a {
	display: block;
	width: 100%;
	height: 100%;
	color: #f25000;
}
.code-con dd p span:nth-child(3) {
	float: right;
	height: 100%;
	text-align: center;
	line-height: 1.79rem;
	font-size: 0.92rem;
	color: #ff6600;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 0px 1px #ff6600;
	box-shadow: 0px 0px 0px 1px #ff6600;
}
.code-con dd span {
	display: block;
	height: 1.79rem;
	font-size: 1rem;
	color: #ff6600;
}
.code-con dd span em {
	font-size: 0.92rem;
	color: #585858;
}
/*** 退货申请 ***/
.re-request {
	max-width: 640px;
}
.re-order {
	width: 94%;
	padding: 0px 3%;
	padding-bottom: 0.5rem;
	-webkit-box-shadow: 0px 1px 0px 0px #e4e4e4;
	box-shadow: 0px 1px 0px 0px #e4e4e4;
}
.re-order p {
	overflow: hidden;
	width: 100%;
	height: 1.25rem;
	font-size: 0.83rem;
	color: #6a6a6a;
}
.re-order p:nth-child(1) {
	overflow: hidden;
	width: 100%;
	height: 2.83rem;
	line-height: 2.83rem;
	font-size: 1rem;
	color: #585858;
}
.re-order p span {
	display: block;
	width: 100%;
	height: 100%;
}
.re-order p:nth-child(1) strong {
	color: #f25000;
}
.re-return {
	width: 94%;
	padding: 0px 3%;
}
.re-return h2 {
	width: 97%;
	height: 3.08rem;
	line-height: 3.08rem;
	padding-left: 3%;
	background: url("../images/re-icon.png") no-repeat;
	background-size: 0.42rem;
	background-position: 0rem center;
	font-size: 1rem;
	color: #585858;
	-webkit-box-shadow: 0px 1px 0px 0px #eeeeee;
	box-shadow: 0px 1px 0px 0px #eeeeee;
}
.re-return ul {
	width: 100%;
}
.re-return ul li {
	width: 100%;
	-webkit-box-shadow: 0px 1px 0px 0px #eeeeee;
	box-shadow: 0px 1px 0px 0px #eeeeee;
	/*height: 6.96rem;*/
}
.re-return ul li dl {
	width: 100%;
	height: 5.3rem;
	padding: 0.83rem 0px;
}
.re-return ul li dl dt {
	float: left;
	width: 19%;
	height: 100%;
	padding-right: 4%;
}
.re-return ul li dl dt img {
	width: 100%;
	height: 100%;
}
.re-return ul li dl dd {
	float: right;
	width: 77%;
	height: 100%;
}
.re-return ul li dl dd p {
	width: 100%;
	height: 2.5rem;
	line-height: 2.5rem;
	color: #585858;
}
.re-return ul li dl dd div {
	width: 100%;
	height: 2.67rem;
}
.re-return ul li dl dd div span {
	float: left;
	display: block;
	width: 34%;
	height: 100%;
	line-height: 2.67rem;
	font-size: 0.92rem;
	color: #909090;
}
.re-return .select-area {
	float: right;
	position: relative;
	width: 25%;
	height: 1.83rem;
	border: 1px solid #c5c5c5;
	background: url("../images/return.png") no-repeat;
	background-size: 1.83rem;
	background-position: right center;
}
.re-return .select-area select {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	width: 100%;
	height: 1.83rem;
	padding-left: 26%;
	-webkit-appearance:none;	
}
.re-request h3 {
	width: 97%;
	height: 2.67rem;
	padding-right: 3%;
	text-align: right;
	line-height: 2.67rem;
	font-size: 1rem;
	color: #585858;
	-webkit-box-shadow: 0px 1px 0px 0px #eeeeee;
	box-shadow: 0px 1px 0px 0px #eeeeee;
}
.re-request h3 span {
	width: 100%;
	font-size: 1.33rem;
	color: #f25000;
}
.re-reasons {
	width: 94%;
	height: 9.79rem;
	padding: 0px 3%;	
}
.re-reasons p {
	width: 97%;
	height: 3.08rem;
	line-height: 3.08rem;
	padding-left: 3%;
	background: url("../images/re-icon.png") no-repeat;
	background-size: 0.42rem;
	background-position: 0rem center;
	font-size: 1rem;
	color: #585858;
}
.re-reasons div {
	width: 100%;
	height: 5.42rem;
	-webkit-box-shadow: 0px 0px 0px 1px #eeeeee;
	box-shadow: 0px 0px 0px 1px #eeeeee;
}
.re-reasons div textarea {
	width: 100%;
	height: 100%;
	border: none;
	resize: none;
	outline: none;
}
.re-name {
	width: 94%;
	height: 1.65rem;
	padding: 0px 3%;
	padding-bottom: 1.25rem;
}
.re-name span {
	float: left;
	display: block;
	width: 21%;
	padding-left: 3%;
	background: url("../images/re-icon.png") no-repeat;
	background-size: 0.42rem;
	background-position: 0rem center;
	font-size: 1rem;
	color: #585858;
}
.re-name input {
	float: right;
	width: 74%;
	height: 100%;
	outline: none;
}
.re-phone {
	width: 94%;
	height: 1.65rem;
	padding: 0px 3%;
	margin-bottom: 1.25rem;
}
.re-phone span {
	float: left;
	display: block;
	width: 21%;
	padding-left: 3%;
	background: url("../images/re-icon.png") no-repeat;
	background-size: 0.42rem;
	background-position: 0rem center;
	font-size: 1rem;
	color: #585858;
}
.re-phone input {
	float: right;
	width: 74%;
	height: 100%;
	outline: none;
}
.re-confirm {
	width: 94%;
	height: 9.04rem;
	padding: 0px 3%;
}
.re-confirm a {
	display: block;
	width: 100%;
	height: 2.08rem;
	text-align: center;
	line-height: 2.08rem;
	background: #f25000;
	font-size: 1.08rem;
	font-weight: 100;
	color: #fff;
}
/*** 我要退货 ***/
.myreturn {
	max-width: 640px;
}
.myreturn ul {
	width: 100%;
/*	padding: 0 3%;*/
	background: #eeeeee;
}
.myreturn ul li {
	width: 94%;
	height: 10rem;
	padding: 0 3%;
	margin-bottom: 0.83rem;
	background: #fff;
	box-shadow: 0px 1px 0px 0px #e0e0e0;
}
.my-code {
	width: 100%;
	height: 2.83rem;
	border-bottom: 1px solid #e0e0e0;
}
.my-code span {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	line-height: 2.83rem;
	font-size: 1rem;
	color: #545454;
}
.mycode-con {
	width: 100%;
	height: 5.51rem;
	padding: 0.83rem 0; 
}
.mycode-con dt {
	float: left;
	width: 20%;
	height: 100%;
	padding-right: 5%;
}
.mycode-con dt img {
	width: 100%;
	height: 100%;
}
.mycode-con dd {
	float: left;
	width: 75%;
	height: 100%;
}
.mycode-con dd h2 {
	width: 100%;
	height: 1.88rem;
	line-height: 1.88rem;
	color: #585858; 
}
.mycode-con dd p {
	width: 100%;
	height: 1.79rem;
}
.mycode-con dd p span {
	float: left;
	display: block;
	width: 32%;
	height: 100%;
	font-size: 0.75rem;
	color: #909090;
}
.mycode-con dd p span a {
	display: block;
	width: 100%;
	height: 100%;
	color: #f25000;
}
.mycode-con dd p span:nth-child(3) {
	float: right;
	height: 100%;
	text-align: center;
	line-height: 1.79rem;
	font-size: 0.92rem;
	color: #ff6600;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 0px 1px #ff6600;
	box-shadow: 0px 0px 0px 1px #ff6600;
}
.mycode-con dd span {
	display: block;
	height: 1.79rem;
	font-size: 1rem;
	color: #ff6600;
}
.mycode-con dd span em {
	font-size: 0.92rem;
	color: #585858;
}
/*** 待发货 ***/
.shipped {
	max-width: 640px;
}
.shipped ul {
	width: 100%;
	background: #eeeeee;
}
.shipped ul li {
	width: 94%;
	height: 10.42rem;
	padding: 0 3%;
	margin-bottom: 0.83rem;
	background: #fff;
	-webkit-box-shadow: 0px 1px 0px 0px #e0e0e0;
	box-shadow: 0px 1px 0px 0px #e0e0e0;
}
.ship-con {
	width: 100%;
	height: 5.84rem;
	padding: 0.83rem 0;
	-webkit-box-shadow: 0px 1px 0px 0px #e0e0e0;
	box-shadow: 0px 1px 0px 0px #e0e0e0;
}
.ship-con dt {
	float: left;
	width: 20%;
	height: 100%;
	padding-right: 5%;
}
.ship-con dt img {
	width: 100%;
	height: 100%;
}
.ship-con dd {
	float: left;
	width: 75%;
	height: 100%;
}
.ship-con dd h2 {
	width: 100%;
	height: 1.88rem;
	line-height: 1.88rem;
	color: #585858;
}
.ship-con dd p {
	width: 100%;
	height: 1.79rem;
}
.ship-con dd p span {
	float: left;
	display: block;
	width: 22%;
	height: 100%;
	font-size: 0.75rem;
	color: #909090;
}
.ship-con dd span {
	display: block;
	height: 1.79rem;
	font-size: 1rem;
	color: #ff6600;
}
.ship-con dd span em {
	font-size: 0.92rem;
	color: #585858;
}
.shipped .ship-remind {
	width: 100%;
	height: 1.58rem;
	padding: 0.67rem 0px;
}
.ship-remind a {
	float: right;
	display: block;
	width: 22%;
	height: 1.67rem;
	text-align: center;
	line-height: 1.67rem;
	font-size: 0.92rem;
	color: #ff6600;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 0px 1px #ff6600;
	box-shadow: 0px 0px 0px 1px #ff6600;
}
/*** 待收货 ****/
.receipt {
	max-width: 640px;
}
.receipt ul {
	width: 100%;
	background: #eeeeee;
}
.receipt ul li {
	width: 94%;
	height: 10.42rem;
	padding: 0 3%;
	margin-bottom: 0.83rem;
	background: #fff;
	-webkit-box-shadow: 0px 1px 0px 0px #e0e0e0;
	box-shadow: 0px 1px 0px 0px #e0e0e0;
}
.rec-con {
	width: 100%;
	height: 5.84rem;
	padding: 0.83rem 0;
	-webkit-box-shadow: 0px 1px 0px 0px #e0e0e0;
	box-shadow: 0px 1px 0px 0px #e0e0e0;
}
.rec-con dt {
	float: left;
	width: 20%;
	height: 100%;
	padding-right: 5%;
}
.rec-con dt img {
	width: 100%;
	height: 100%;
}
.rec-con dd {
	float: left;
	width: 75%;
	height: 100%;
}
.rec-con dd h2 {
	width: 100%;
	height: 1.88rem;
	line-height: 1.88rem;
	color: #585858;
}
.rec-con dd p {
	width: 100%;
	height: 1.79rem;
}
.rec-con dd p span {
	float: left;
	display: block;
	width: 25%;
	height: 100%;
	font-size: 0.75rem;
	color: #909090;
}
.rec-con dd span {
	display: block;
	height: 1.79rem;
	font-size: 1rem;
	color: #ff6600;
}
.rec-con dd span em {
	font-size: 0.92rem;
	color: #585858;
}
.receipt .rec-remind {
	width: 100%;
	height: 1.58rem;
	padding: 0.67rem 0px;
}
.rec-remind a {
	float: right;
	display: block;
	width: 22%;
	height: 1.67rem;
	text-align: center;
	line-height: 1.67rem;
	font-size: 0.92rem;
	color: #ff6600;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 0px 1px #ff6600;
	box-shadow: 0px 0px 0px 1px #ff6600;
}
/*** 我的收藏 ***/
.mycollectin {
	max-width: 640px;
}
.mycollectin dl {
	width: 94%;
	padding: 0.92rem 3%;
	border-bottom: 1px solid #dedede;
}
.mycollectin dl a {
	display: block;
}
.mycollectin dl a dt {
	float: left;
	width: 21%;
	height: 5.21rem;
	padding-right: 4%;
}
.mycollectin dl a dt img {
	width: 100%;
	height: 100%;
}
.mycollectin dl a dd {
	float: left;
	width: 70%;
}
.mycollectin dl a dd h2 {
	overflow: hidden;
	height: 2rem;
	line-height: 2rem;
	font-size: 1rem;
	color: #585858;
}
.mycollectin dl a dd p {
	overflow: hidden;
	height: 1.75rem;
	font-size: 0.83rem;
	color: #7e7e7e;
}
.mycollectin dl a dd span {
	float: left;
	/*display: block;*/
	width: 34%;
	font-size: 0.83rem;
	color: #ff6600;
}
.mycollectin dl a dd span strong {
	font-size: 1.33rem;
}